<h1>İşlem Sonuçları</h1>
<p>Dosya Yükleme Sonucu: @ViewData["mesaj"]</p>
<p>Çarpımı:@ViewData["carp"]</p>
<p>Bölümü:@ViewData["bol"]</p>
<p>Toplamı:@ViewData["topla"]</p>
<p>Farkı:@ViewData["fark"]</p>