<div class="text-center">
    <h1 class="display-4">Form</h1>
    <form action="/Home/KisiKayitIslem" method="post">
    Ad: <input type="text" name="ad">
    <br>
     Telefon: <input type="text" name="Telefon">
     <br>
     <input type="submit" value="kaydet">
    </form>
</div>